body {
  margin: 0;
  font-family: Arial;
  transition: 0.3s;
}

.light {
  background: #ffffff;
  color: #000;
}

.dark {
  background: #121212;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.projects {
  padding: 50px;
  transition: all 1s ease;
}

.hidden {
  opacity: 0;
  transform: translateY(50px);
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.card {
  padding: 20px;
  margin: 15px 0;
  border: 1px solid gray;
}
